<main>
    <header>
        <h1>edit ToDo</h1>
    </header>

    <form method="post" class="noteForm" action="/Note/saveEdited">
        {{#with note}}
            <div class="noteContent">
                <div class="propertyContainer">
                    <label class="label">Title</label>
                    <input type="text" name="title" value="{{title}}" required class="propertyInput">

                </div>
                <div class="propertyContainer">
                    <label class="label">Beschreibung</label>
                    <textarea name="description" rows="3" class="propertyInput">{{description}}</textarea>

                </div>
                <div class="propertyContainer">
                    <label class="label">Wichtigkeit</label>
                    <input type="number" min="0" max="5" name="importance" value="{{importance}}" required
                           class="propertyInput">

                </div>
                <div class="propertyContainer">
                    <label class="label">Fertig bis</label>
                    <input type="date" name="dueDate" value="{{dueDate}}" class="propertyInput">

                </div>
            </div>
            <div class="checkboxContainer">
                <label class="label">Erledigt</label>
                <div class="checkboxflex">
                    <input type="checkbox" name="finished" {{#if finished}}checked{{/if}}>
                </div>
            </div>


            <div class="submitNote">
                <input type="hidden" name="_id" value="{{_id}}">
                <input type="submit" value="Speichern" class="button">
                <a class="button" href="/">Abbruch</a>
            </div>
        {{/with}}
    </form>
</main>