<main>
    <header>
        <div class="menu">
            <form method="get" action="/Note/new">
                <input type="submit" class="button" value="Create New Note">
            </form>
            <form method="get" action="/notes">
                {{#if config.layout}}
                    <input name="layout" value="white" type="hidden">
                {{else}}
                    <input name="layout" value="dark" type="hidden">
                {{/if}}

                <input type="submit" value="Style Switcher" class="button">
            </form>
        </div>

        <div class="menu">

            <form method="get">
                {{#if config.sortBy.dueDate}}
                    <input name="sortBy" value="noSort" type="hidden">
                {{else}}
                    <input name="sortBy" value="finishDate" type="hidden">
                {{/if}}
                <input type="submit" value="By finish Date"
                       class="button{{#if config.sortBy.dueDate}} focus{{/if}}">
            </form>

            <form method="get">
                {{#if config.sortBy.createDate}}
                    <input name="sortBy" value="noSort" type="hidden">
                {{else}}
                    <input name="sortBy" value="createDate" type="hidden">
                {{/if}}
                <input type="submit" value="By create Date"
                       class="button{{#if config.sortBy.finishDate}} focus{{/if}}">
            </form>

            <form method="get">
                {{#if config.sortBy.importance}}
                    <input name="sortBy" value="noSort" type="hidden">
                {{else}}
                    <input name="sortBy" value="importance" type="hidden">
                {{/if}}

                <input type="submit" value="By Importance" class="button{{#if config.sortBy.importance}} focus{{/if}}">
            </form>

            <form method="get" action="/notes">


                {{#if config.filter}}
                    <input name="hideFinished" value="false" type="hidden">
                    <input type="submit" value="Fertige anzeigen" class="button">
                {{else}}

                    <input name="hideFinished" value="true" type="hidden">
                    <input type="submit" value="Fertige verbergen" class="button">

                {{/if}}

            </form>

        </div>
    </header>


    <section class="content">
        {{#if notes}}
            {{#each notes}}
                <article>
                    <header>
                        <span>{{dueDate}}</span>
                        <span>{{title}}</span>
                        <span>{{stars}}</span>
                    </header>

                    <div>
                        <label>
                            <input type="checkbox" {{#if finished}}checked{{/if}} disabled>
                            <span>Finished</span>
                        </label>
                        <label>
                            <textarea readonly>{{description}}</textarea>
                        </label>
                        <form method="post" action="/Note/edit">
                            <input type="hidden" name="id" value="{{_id}}">
                            <input type="submit" value="Edit" class="button">
                        </form>
                    </div>
                </article>
            {{/each}}
        {{else}}
            <div class="empty">
                <p>Keine ToDo's gefunden!</p>
            </div>
        {{/if}}

    </section>


</main>